$old-glory-red: #bf0a30
$old-glory-blue: #002868
$old-glory-white: #EEEEEE
  
.ribbon
  &__blue
    margin: 10px
    color: $old-glory-white
    background-color: $old-glory-blue
  &__red
    margin: 10px
    color: $old-glory-white
    background-color: $old-glory-red
  &__white
    margin: 10px
    color: #222222
    background-color: $old-glory-white
  &__yellow
    margin: 10px
    color: #222222
    background-color: yellow